#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:rgb(224, 252, 164);
}

body {
  background-color:rgb(224, 252, 164);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  height: 60px;
}